* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccccccd0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    background-color: #e8e8e9;
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 0 90px;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #aa384b!;
}
a.nav-link{
    font-size: 15px;
    font-weight: 500;
    color: #aa384b;
}

a.nav-link:hover{
    color: #a18489;
}

.nav-logo {
    font-size: 2.0rem;
    font-weight: 500;
    color: #aa384b;
    text-decoration: none;
}
#logo-img{
    width: 80px;
}
a.logo-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}

.bg-img{
    background-image:
    linear-gradient( rgba(133, 134, 134, 0.596), rgba(0, 0, 0, 0.842)),
    url('https://media.istockphoto.com/id/1465317602/photo/civil-engineer-teams-meeting-working-together-wear-worker-helmets-hardhat-on-construction.jpg?s=612x612&w=0&k=20&c=paDFN56pT6iZqPaibncxXXKGdbZEPLnzfC8PHMU9MxQ=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0, 0.4);
}
.bg-img-txt{
    color: #fff;
    font-size: 35px;
    padding: 230px;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    opacity: .8;
}



.service{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-content: space-between;
    /* margin: 0 0 0 50px; */
}
.serv1{
    margin: 100px 50px 0 300px;
    font-size: 20px;
    display: block;
    text-align: center;
    /* padding-bottom: 50px; */
}
.serv1-img{
    width: 110px;
    filter: invert(10%) sepia(91%) saturate(2664%) hue-rotate(350deg) brightness(91%) contrast(98%);
}
.serv1-body{
    background-color: #fffffea2;
    border: 1px solid black;
    margin: 20px;
    padding: 19px;
    width: 250px;
    height: 240px;
    border: none;
    box-shadow: 1px 1px 5px 0px;
    border-radius: 5px;
}
.btn-read{
    text-decoration: none;
    color: #aa384b;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    margin: 110px 0 0 0;
    font-weight: 600;
}
.serv-title{
    font-size: 25px;
    margin: 0 0 30px 0;
}
.serv2{
    background-color: #0f0f0fd2;
    padding: 80px;
}
.serv2-title{
    font-size: 70px;
    max-width: 100px;
    color: rgba(250, 235, 215, 0.555);
}
.serv2-txt{
    max-width: 300px;
    margin: auto;
    font-size: 15px;
    color: #faf5e7d3;
}
#btn-view{
    margin-top: 25px;
    width: 53%;
    height: 19%;
    line-height: normal;
    border: none;
    background-color: #a18489a1;
    color: #faf5e7d3;
    border-radius: 5px;
}
.btn-view{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}
#btn-view:hover{
    background-color: #a18489;
    transition-duration: 1s;
    transform: translateY(-5px);
}
.data{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 100px 0 0 0;
    padding: 0 0 0 100px;
}
.data-img{
    width: 120px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
    filter: invert(10%) sepia(91%) saturate(2664%) hue-rotate(350deg) brightness(91%) contrast(98%);
}
.data-txt{
    font-size: 19px;
    padding-left: 50px;
    font-weight: 600;
    text-transform: uppercase;
}
.data-title{
    display: flex;
}
.data-h1{
    font-size: 50px;
    font-weight: 700;
    padding-left: 50px;
    color: #aa384b;
}

.bg-contact{
    background-image:
    linear-gradient(to top, rgba(156, 159, 161, 0.171), rgba(0, 0, 0, 0.767)),
    url('https://media.istockphoto.com/id/995603950/photo/concept-of-engineers-and-windmills.jpg?s=612x612&w=0&k=20&c=hc3b3wEs6FNA-P3pLxQuJw-kiu7Y7JAeBodAMCapfDU=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.bg-contact-txt{
    color: #e8e8e9;
    padding: 150px 0 100px 0;
    font-size: 40px;
    font-weight: 500;
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
}
.bg-contact-btn{
    width: 25%;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    border: none;
    background-color: #aa384b;
    color: #E2E8F0;
    border-radius: 5px;
    margin-top: 30px;
}
.bg-contact-btn:hover{
    background-color: #a18489;
    transition: 1s;
    transform: translateY(-10px);
}
.profiles{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    text-align: center;
    /* background-color: #e8e8e9; */
}
.profile-body{
    border: 1px soild black;
}
.profile-img{
    width: 30%;
    height: 70%;
    border: 1px solid white;
    border-radius: 100%;
    border-width: 3px;
    border-color: #a18489;
    filter: invert(10%) sepia(91%) saturate(2664%) hue-rotate(350deg) brightness(91%) contrast(98%);
}
.profile-title{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.profile-txt{
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 5px;
}
.profile-btn{
    border: none;
    border-radius: 3px;
    width: 30%;
    height: 3vw;
    margin-top: 6px;
    text-transform: uppercase;
    font-family:'Rubik', sans-serif;
    font-weight: 600;
    color: #e8e8e9c2;
    background-color: #494c55e8;
    font-size: 15px;
}
.profile-btn:hover{
    background-color: #8a6a6f;
    color: white;
    transition: 1s;
    transform: translateY(-2px);
}
#services{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #0f0f0fd2;

}
#service{
    display: grid;
    grid-template-columns: auto auto;
}
.service-txt{
    font-size: 18px;
    margin-left: 30px;
}
.service-list{
    font-size: 17px;
    margin-left: 40px;
}


@media only screen and (max-width: 600px) {
    *{
        overflow: -moz-hidden-unscrollable;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);

    }
    
    .nav-menu.active {
        left: 0;
    }
    
    .nav-item {
        margin: 2.5rem 0;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    #logo-img{
        width: 40px;
    }
    span.logo-txt{
        padding: 0;
        margin: 0;
        display: none;
        font-size: 10px;
    }
    .bg-img{
        width: 100%;
    }
    .bg-img-txt{
        margin: 0;
        padding: 50px 50px 50px 50px;
        font-size: 15px;
    }
    .serv1{
        display: grid;
        grid-template-columns: min-content;
        grid-template-columns: auto auto auto;
        justify-self: unset;
        margin: 70% 0 0 0;
    }
    .serv1-body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .btn-read{
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    .serv1-img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .serv-title{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .serv2{
        position: absolute;
        padding: 0 0 20px 0;
        margin: 0;
        background-color: #101010;

    }
    .serv2-title{
        font-size: 20px;
        max-width: none;
        text-align: center;
        padding-top: 20px;
    }
    .serv2-txt{
        font-size: 10px;
        max-width: none;
        text-align: center;
        padding: 0 20px;
    }
    #btn-view{
        width: 50%;
        height: 50px;
        position: relative;
        left: 90px;
        font-size: 10px;
    }
    .btn-view{
        font-size: 13px;
        text-align: center;
    }
    .navbar{
        margin: 0 10px;
    }
    .data{
        display: grid;
        grid-template-columns: min-content;
        justify-content: center;
        width: 100%;
        margin: 50px 0 0 0;
        padding: 30px 0;
        text-align: center;
        background-color: #e8e8e9;
    }
    .data-img{
        width: 50%;
        height: 50%;
    }
    .data-h1{
        font-size: 25px;
    }
    .data-txt{
        font-size: 10px;
    }
    .bg-contact{
        padding: 50px 0;
    }
    .bg-contact-txt{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    .bg-contact-btn{
        width: 50%;
        background-color: #974b58e8;
    }
    .profiles{
        display: grid;
        grid-template-columns: max-content;
        justify-content: center;
        margin: 50px 0 0 0;
        padding: 50px 0; 
        background-color: #e8e8e9;
    }
    .profile-img{
        width: 40%;
        height: 40%;
    }
    .profile-btn{
        background-color: #974b58e8;
        height: 10%;
        width: 50%;
        color: #fff;
    }
    .our-service{
        width: 100%;
    }
    #services{
        margin-top: 80px;
        margin-bottom: 0px;
    }
    #service{
        display: block;
        margin: 0;
        padding: 0;
    }
    #service-title{
        display: block;
        padding-top: 30px;
        padding-bottom: 39px;
        background-color: #e8e8e9;
    }
    .service-list li{
        list-style-type: decimal;
    }
  }
